<div class="container formulario" id="formulario">
    <form [formGroup]="formu" (ngSubmit)="validarDatos()" class="formulario" id="formu" novalidate>
        <div class="form-group">
            <label for="name">Nombres</label>
            <input type="text" formControlName="name" placeholder="Axel William">
            <p *ngIf="formu.controls['name'].invalid" class="invalid">Este campo es obligatorio</p>
        </div>
        <div class="form-group">
            <label for="lastname">Apellidos</label>
            <input type="text" formControlName="lastname" placeholder="Ormeño Galea">
            <p *ngIf="formu.controls['lastname'].invalid" class="invalid">Este campo es obligatorio</p>
        </div>
        <div class="form-group">
            <label>Genero</label>
            <div *ngFor="let gender of genders">
                <input type="radio" class="form-check-input" id="gender{{gender.id}}" formControlName="gender" value="{{gender.id}}">
                <label for="gender{{gender.id}}">{{gender.name}}</label>
            </div>
            <p *ngIf="formu.controls['gender'].invalid" class="invalid">Este campo es obligatorio</p>
        </div>
        <div class="form-group">
            <label for="country">Pais</label>
            <select name="country" formControlName="country">
                <option disabled value="">Selecciona un pais</option>
                <option *ngFor="let country of countries" value="{{country.id}}">
                  {{ country.name }}
                </option>
            </select>
            <p *ngIf="formu.controls['country'].invalid" class="invalid">Este campo es obligatorio</p>
        </div>
        <div class="form-group">
            <label for="city">Ciudad</label>
            <input type="text" formControlName="city" placeholder="Valparaiso">
            <p *ngIf="formu.controls['city'].invalid" class="invalid">Este campo es obligatorio</p>
        </div>

        <div class="buttons">
            <button type="button" (click)="cleanForm()">Cancelar</button>
            <button type="submit" [disabled]="!formu.valid">Enviar!</button>
        </div>
    </form>
</div>

<div id="exito">Cliente adicionado con exito!</div>