<div class="container">
    <table class="lista table table-borderless">
        <thead>
            <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Genero</th>
                <th scope="col">Pais</th>
                <th scope="col">Ciudad</th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let cliente of cards">
                <td>{{cliente.name}}</td>
                <td>{{getGender(cliente.gender)}}</td>
                <td>{{getCountry(cliente.country)}}</td>
                <td>{{cliente.city}}</td>
            </tr>
        </tbody>
    </table>
</div>